body .blur-up {
   filter: none;
}

.h-logo {
   max-width: 185px !important;
}

.f-logo {
   max-width: 220px !important;
}

@media only screen and (max-width: 600px) {
   .h-logo {
      max-width: 110px !important;
   }
}
header .profile-dropdown ul li {
   display: block;
   padding: 5px 20px;
   border-bottom: 1px solid #ddd;
   line-height: 35px;
}

header .profile-dropdown ul li:last-child {
   border-color: #fff;
}

header .profile-dropdown ul {
   padding: 10px 0;
   min-width: 250px;
}

.name-usr {
   background: #e87316;
   padding: 8px 12px;
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 24px;
}

.name-usr span {
   margin-right: 10px;
}

@media (max-width: 600px) {
   .h-logo {
      max-width: 150px !important;
   }

   i.sidebar-bar {
      font-size: 22px;
   }

   .mobile-menu ul li a svg {
      width: 20px;
      height: 20px;
   }

   .mobile-menu ul li a span {
      margin-top: 0px;
      font-size: 12px;
   }

   .name-usr {
      padding: 5px 12px;
   }
}
.r-price {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.r-price .main-price {
   width: 100%;
}

.r-price .rating {
   padding-left: auto;
}

.product-box .cart-wrap a {
   display: block;
}

.product-style-3.product-style-chair .product-title {
   text-align: left;
   width: 100%;
}

@media (max-width: 600px) {
   .product-box p,
   .product-box a {
      text-align: left;
   }

   .product-style-3.product-style-chair .main-price {
      text-align: right !important;
   }
}
.products-c .bg-size {
   background-position: center 0 !important;
}

.custom-arrow {
   position: absolute;
   bottom: 50px;
   z-index: 1;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   cursor: pointer;
}
.slider-nav .slick-list .slick-slide {
   width: 100% !important;
   display: block;
}

.slider-nav .slick-list .slick-slide {
   max-width: 200px;
}
.notFound {
   &__conteiner {
      min-width: 100%;
      // min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 30px;
   }

   &__error {
   }

   &__title {
   }

   &__text {
   }

   &__link {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      background-color: #0163d2;
      padding: 20px 40px;
      border-radius: 20px;
      display: inline-block;
      border: 1px solid #fff;
      width: auto;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #fff;
         color: #0163d2;
         border: 1px solid #0163d2;
      }
   }
}

.main-footer {
}
.container {
}
.row {
}
.gy-4 {
}
.footer-info {
   &__conteiner {
   }

   &__contacts-title {
   }

   &__contacts-list {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      gap: 10px;
   }

   &__contact-li {
      display: flex;
   }

   &__contact-source {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
   }

   &__contact-value {
   }
   &__made-in-ua {
      text-align: center;
   }
}

header .main-navbar .nav-menu > li > a {
   transition: all 0.3s ease 0s;
}
header .main-navbar .nav-menu > li > a.activeLink {
   color: #0565d2;
   font-weight: 500;
}

.header-style-2 .main-menu .menu-right > ul > li a.activeLink {
   color: var(--theme-color);
}

.addtocart-btn {
   cursor: pointer;
}

.cart__clear-cart-wrap {
   width: 100%;
   height: 100%;
   border: 2px solid #000;
   border-radius: 15px;
   padding: 80px 20px;
}

.cart__clear-cart-title {
   color: #000;
   font-size: 28px;
   line-height: normal;
   font-weight: 500;
}
.cart__clear-cart-home-link {
   color: #fff;
}

.white {
   color: #fff;
}

.theme-color.d-block.text-capitalize.clear-cart-btn {
   font-weight: 500;
   text-decoration: none;
   cursor: pointer;
}

.remowe-product-from-cart {
   cursor: pointer;
}

h3.text-capitalize.white {
   color: #fff;
}

.hide-other-payment-method {
   display: none;
}

header .cart-btn .cart-total {
   display: flex;
   justify-content: space-between;
}

.menu-right ul {
   margin: 0;
}
.onhover-dropdown.cart-dropdown.show a svg {
   stroke: #fff;
}
.onhover-dropdown.cart-dropdown.show a > span {
   color: #fff;
}
.onhover-dropdown.cart-dropdown.show:hover a svg {
   stroke: #0163d2;
}
.onhover-dropdown.cart-dropdown.show:hover a span {
   color: #0163d2;
}
.header-style-2 .main-menu .menu-right > ul > li > a {
   color: #fff;
}
.header-style-2 .main-menu .menu-right > ul > li a.btn.btn-solid-default {
   color: #fff;
}
.header-style-2 .main-menu .menu-right > ul > li a.btn.btn-solid-default {
   color: #fff;
}
.header-style-2
   .main-menu
   .menu-right
   .onhover-dropdown.cart-dropdown:hover
   a.btn.btn-solid-default.btn-spacing.no-hover
   span {
   color: #fff;
}
.header-style-2
   .main-menu
   .menu-right
   .onhover-dropdown.cart-dropdown:hover
   a.btn.btn-solid-default.btn-spacing.no-hover
   svg {
   stroke: #fff;
}
header .cart-menu ul {
   padding: 0;
}
body header ul .emty-cart-litle-label {
   font-size: 22px;
   margin: 20px 0px 0px 0px;
}
header .btn-solid-default:hover::before {
   opacity: 0.9;
   transform: scale(0.9, 0.9);
}
header .main-navbar .nav-menu.hideMenu {
   right: 0px;
}
.cart-wrap ul {
   padding: 0;
}

@media (max-width: 360px) {
   html body .poster-section .prev {
      left: 10px !important;
   }
}
@media (max-width: 575px) {
   .poster-section .next {
      bottom: 21%;
      left: auto !important;
      right: 10px !important;
   }
}
@media (max-width: 797px) {
   .product-box .cart-wrap {
      opacity: 1;
      transition: all 0.5s ease;
   }
   .product-box .cart-wrap a {
      width: 35px;
      display: flex;
      justify-content: center;
      padding: 10px;
   }
   .product-image .product-details .cart-wrap {
      position: relative;
      transform: none;
   }
   body .product-image .product-details .cart-wrap ul li {
      opacity: 1;
      transform: translateY(0);
   }
   body .product-image .product-details .cart-wrap {
      opacity: 1;
      padding: 0;
   }
   .double-row.row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
   }
   .double-row.row .col-5 {
      width: 100%;
   }
}

.cart-section tbody tr h3 {
   font-size: 18px;
}
.cart-section tbody tr .cart-prev-img {
   width: auto;
   height: 80px;
}
.cart-section tbody tr .cart-prev-img img {
   width: auto;
   height: 80px;
}
.footer-info__contact-value a {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

@media (max-width: 767px) {
   .cart-section tbody tr {
      display: flex;
      flex-wrap: wrap;
      width: calc(100vw - 20px);
   }
   body .cart-section .cart-table thead th {
      display: none;
   }
   .cart-section tbody tr td {
      width: 100%;
   }
   .cart-section tbody tr td:nth-last-child(-n + 4) {
      display: block;
   }
   body .cart-section tbody tr td .mobile-cart-content {
      display: none;
   }
}
@media (max-width: 1660px) {
   .poster-section .next {
      right: 11% !important;
   }
}
.footer-info__contact-li {
   word-wrap: break-word;
   flex-wrap: wrap;
}
footer .main-footer {
   padding: 10px 0;
}
@media (max-width: 575px) {
   .footer-sm-space {
      margin-bottom: 10px;
   }
}
@media (max-width: 797px) {
   .poster-section .next {
      right: 8% !important;
   }
}

.formErrorMessage {
   line-height: 1.5;
   color: red;
}

.cart-section tbody tr td {
   min-width: 90px;
}
.cart-section .double-row .col-md-12 {
   flex: 1 1 70%;
}
.cart-section .double-row .cart-checkout-section {
   flex: 1 1 30%;
}
.cart-section .double-row .cart-checkout-section .col-lg-4 {
   width: 100%;
   margin: 0;
}

.page-section .pagination .page-item.disabled .page-link {
   color: #6c757d;
}
.page-section .pagination .page-item.active .page-link {
   background-color: #0163d2;
}
.page-section .pagination .page-item.active .page-link:hover {
   color: #fff;
}
.grid-options.d-sm-inline-block .d-flex {
   margin: 0;
}
.col-12.no-margin {
   margin: 0;
}
.col-12.no-margin .filter-options {
   justify-content: end;
}
.clear-all-filters-button {
   border-radius: 16px;
   padding: 10px 20px;
   font-size: 14px;
   display: block;
   width: 100%;
   background-color: #0163d2;
   border: 2px solid #0163d2;
   color: #fff;
   font-weight: 500;
   transition: all 0.3s ease 0s;
}
.clear-all-filters-button:hover {
   background-color: #fff;
   border: 2px solid #0163d2;
   color: #0163d2;
}
.category-option .category-name .accordion-button:not(.collapsed)::after {
   display: none;
}
.category-scroll .category-list {
   padding: 0px 0px 0px 0px;
}
