body .blur-up {
   filter: none;
}

.h-logo {
   max-width: 185px !important;
}

.f-logo {
   max-width: 220px !important;
}

@media only screen and (max-width: 600px) {
   .h-logo {
      max-width: 110px !important;
   }
}
header .profile-dropdown ul li {
   display: block;
   padding: 5px 20px;
   border-bottom: 1px solid #ddd;
   line-height: 35px;
}

header .profile-dropdown ul li:last-child {
   border-color: #fff;
}

header .profile-dropdown ul {
   padding: 10px 0;
   min-width: 250px;
}

.name-usr {
   background: #e87316;
   padding: 8px 12px;
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 24px;
}

.name-usr span {
   margin-right: 10px;
}

@media (max-width: 600px) {
   .h-logo {
      max-width: 150px !important;
   }

   i.sidebar-bar {
      font-size: 22px;
   }

   .mobile-menu ul li a svg {
      width: 20px;
      height: 20px;
   }

   .mobile-menu ul li a span {
      margin-top: 0px;
      font-size: 12px;
   }

   .name-usr {
      padding: 5px 12px;
   }
}
.r-price {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.r-price .main-price {
   width: 100%;
}

.r-price .rating {
   padding-left: auto;
}

.product-box .cart-wrap a {
   display: block;
}

.product-style-3.product-style-chair .product-title {
   text-align: left;
   width: 100%;
}

@media (max-width: 600px) {
   .product-box p,
   .product-box a {
      text-align: left;
   }

   .product-style-3.product-style-chair .main-price {
      text-align: right !important;
   }
}
.products-c .bg-size {
   background-position: center 0 !important;
}

.custom-arrow {
   position: absolute;
   bottom: 50px;
   z-index: 1;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   cursor: pointer;
}
.slider-nav .slick-list .slick-slide {
   width: 100% !important;
   display: block;
}

.slider-nav .slick-list .slick-slide {
   max-width: 200px;
}
.notFound {
   &__conteiner {
      min-width: 100%;
      // min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 30px;
   }

   &__error {
   }

   &__title {
   }

   &__text {
   }

   &__link {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      background-color: #0163d2;
      padding: 20px 40px;
      border-radius: 20px;
      display: inline-block;
      border: 1px solid #fff;
      width: auto;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #fff;
         color: #0163d2;
         border: 1px solid #0163d2;
      }
   }
}

.main-footer {
}
.container {
}
.row {
}
.gy-4 {
}
.footer-info {
   &__conteiner {
   }

   &__contacts-title {
   }

   &__contacts-list {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      gap: 10px;
   }

   &__contact-li {
      display: flex;
   }

   &__contact-source {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
   }

   &__contact-value {
   }
   &__made-in-ua {
      text-align: center;
   }
}

header .main-navbar .nav-menu > li > a {
   transition: all 0.3s ease 0s;
}
header .main-navbar .nav-menu > li > a.activeLink {
   color: #0565d2;
   font-weight: 500;
}

.header-style-2 .main-menu .menu-right > ul > li a.activeLink {
   color: var(--theme-color);
}

.addtocart-btn {
   cursor: pointer;
}

.cart__clear-cart-wrap {
   width: 100%;
   height: 100%;
   border: 2px solid #000;
   border-radius: 15px;
   padding: 80px 20px;
}

.cart__clear-cart-title {
   color: #000;
   font-size: 28px;
   line-height: normal;
   font-weight: 500;
}
.cart__clear-cart-home-link {
   color: #fff;
}

.white {
   color: #fff;
}

.theme-color.d-block.text-capitalize.clear-cart-btn {
   font-weight: 500;
   text-decoration: none;
   cursor: pointer;
}

.remowe-product-from-cart {
   cursor: pointer;
}

h3.text-capitalize.white {
   color: #fff;
}

.hide-other-payment-method {
   display: none;
}
